<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(crop_image) -%>">
  <span class='title'>
    <%= crop_image. %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.crop_images_crop_image_path(crop_image),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_crop_images_admin_crop_image_path(crop_image),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.crop_images_admin_crop_image_path(crop_image),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => crop_image.),
        :method => :delete %>
  </span>
</li>
